[mysqld]
user=root
datadir =/app/mysql/data
port = 3306
lower_case_table_names=1
server_id = 1
sql_mode=ORACLE

default-time-zone = '+8:00'
log_timestamps = SYSTEM

[mysqld_safe]
## errorlog配置
log-error=/app/mysql/logs/mysqld.err
